@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Young+Serif&display=swap');

body {
    font-size: clamp(10%, 90%, 100%);
    font-family: 'Bree Serif', serif;
}

.container {
    display: grid;
    justify-items: center;
    justify-content: space-around;
}

.sub-container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10%;
    padding: 5%;
    background-color: rgba(146, 146, 146, 0.548);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

#heading {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: transparent;
    margin: auto;
    padding: auto;
}

label {
    font-size: 25px;
}

.inp1 {
    outline: none;
    background-color: transparent;
    border: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    padding: 5px;
    width: 300px;

}

input:focus {
    animation: inputmotion .4s ease;
    border: 2px solid rgb(19, 187, 230);
    color: rgb(0, 0, 0);
}

@keyframes inputmotion {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.remember {
    font-size: 20px;
}

#forget {
    float: right;
}

#signin {
    margin-top: 5px;
    font-size: 30px;
    width: 300px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Young Serif', serif;
    padding: 5px;
    width: 300px;
    color: rgb(218, 218, 209);
    background-color: rgb(25, 122, 122);
}

#signin:hover {
    cursor: pointer;
    background-color: rgba(23, 23, 201, 0.76);
}

button:focus {
    cursor: pointer;
    animation: btnmotion .2s ease-out 1;
}

input::placeholder {
    font-size: px;
    color: rgba(0, 0, 0, 0.39);
}

input:focus::placeholder {
    color: transparent;
}

@keyframes btnmotion {
    0% {
        scale: 1;
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
        scale: .9;
        transform: translateY(5px);

    }

    100% {
        scale: 1;
        transform: translateX(0);
    }
}